/* logo */
.skin-blue .main-header .logo {
  position: fixed; 
  overflow: visible;
  
  width:100%;
}

/* navbar (rest of the header) */
.skin-blue .main-header .navbar {
  position: fixed; 
  overflow: visible;
}        

/* main sidebar */
.skin-blue .main-sidebar {
  position: fixed; 
  overflow: visible;
  
  width: 220px;
  white-space: nowrap;
}